
<div class="overflow-x-auto m-auto p-5">
    <button [routerLink]="['/personas/nuevo']" class="bg-green-500 hover:bg-green-600 p-2 rounded">
        Registrar Persona
    </button>
</div>

<div class="overflow-x-auto p-2">
    
    <table class="w-full text-sm text-left">
        
        <thead>

            <tr>
                <th>ID</th>
                <th>N° Documento</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>

        </thead>    

        <tbody class="space-y-4">
            
            @for(persona of personas(); track persona.id)
            {
                <tr>
                    
                    <td>{{persona.id}}</td>
                    <td>{{persona.nro_documento}} ({{persona.tipo_documento}})</td>
                    <td>{{persona.nombres}} {{persona.apellido_paterno}} {{persona.apellido_materno}}</td>
                    <td>{{persona.email ?? 'Sin definir'}}</td>
                    <td class="space-x-4">
                        <button [routerLink]="['/personas', persona.id]" class="bg-green-500 hover:bg-green-600 rounded p-2">Editar Paciente</button>
                        <button [routerLink]="['/personas/informe/nuevo', persona.id]" class="bg-yellow-500 hover:bg-yellow-600 rounded p-2">Generar Informe</button>
                        <button [routerLink]="['/personas/informe/', persona.id]" class="bg-yellow-500 hover:bg-yellow-600 rounded p-2">Ver Informes</button>
                    </td>

                </tr>
            }
            @empty
            {
                <tr>
                    <td colspan="4">No hay personas registradas</td>
                </tr>
            }

        </tbody>

    </table>
</div>